## Model
Here I build a daytime population model for a given area.

In [1]:
%matplotlib inline

import pandas as pd

from sqlalchemy import create_engine

In [2]:
#
#  Let's instantiate a database connection.
#  The database should have all of our data
#  now. And will be used as our power-house
#  for crunching data.
#
con = create_engine('postgres://analyst:foo@localhost:9001/brain')

### Base Model
Our base model is calculated using SQL. The base model works as follows:

[1] daytime_population = census_population + inflows - outflows

That way the daytime population estimate considers the people who leave for work outside their census block and also those who come in.

In [ ]:
sql = '''
CREATE TABLE IF NOT EXISTS daytime_population AS (
    SELECT 
        blockid10,
        pop10 AS population,
        I.n_inflows AS inflows,
        O.n_outflows AS outflows,
        sum(pop10 + I.n_inflows - O.n_outflows) AS daytime_population
    FROM tracts
    FULL OUTER JOIN inflows AS I
        ON I.w_geocode=blockid10
    FULL OUTER JOIN outflows AS O
        ON O.h_geocode=blockid10
    GROUP BY blockid10, population, inflows, outflows
    );
'''
con.execute(sql)

### Adjusting
Accoring to the US Census Bureau, the population from California is estimate to have grown 5.4% since the last census in 2010.

### Aggregating
Let's aggregate our results up to a higher level.

In [25]:
#
#  Let's define a location for each
#  one of those counties.
#
class Locations:
    '''
    '''
    def __init__(self):
        '''
        '''
        self.location_set = [6085, 6001, 6013, 6075, 6081, 6097, 6095, 6041, 6055]
        self.locations = [
            {'name': 'Santa Clara County', 
             'zip': 6085},
            {'name': 'Alameda County', 
             'zip': 6001},
            {'name': 'Contra Costa County',
             'zip': 6013},
            {'name': 'San Francisco County', 
             'zip': 6075},
            {'name': 'San Mateo County',
             'zip': 6081},
            {'name': 'Sonoma County',
             'zip': 6097},
            {'name': 'Solano County',
             'zip': 6095},
            {'name': 'Marin County',
             'zip': 6041},
            {'name': 'Napa County',
             'zip': 6055}
        ]

In [170]:
class DaytimePopulation(Locations):
    '''
    Main model class. This class provides methods for calculating
    a daytime population model at a block level and 
    also to compute aggregate measurements for higher
    administrative units.
    
    '''
    def __init__(self, init=False):
        '''
        Initializes function.
        '''
        super().__init__()
        
        if init:
            print('Cleaning model table')
            self._drop_table()
            self._compute_model()
        
    def _drop_table(self):
        '''
        Private method that drops the model results
        table.
        '''
        sql = '''
        DROP TABLE daytime_population;
        '''
        con.execute(sql)
        
    def _compute_model(self):
        '''
        Private method that computes daytime population
        model.
        '''
        print('Computing model. This should take about 2 minutes.')
        sql = '''
        CREATE TABLE IF NOT EXISTS daytime_population AS (
            WITH daytime_inflows AS (
                SELECT
                        blockid10 as block_id,
                        pop10 AS population,
                        (pop10 + (pop10*0.054)) AS population_adjusted,
                        I.n_inflows AS inflows,
                        sum((pop10 + (pop10*0.054)) + (
                            CASE
                                WHEN I.n_inflows IS NULL
                                THEN 0
                                ELSE I.n_inflows
                            END
                            )) AS population_plus_inflows
                    FROM tracts as T
                    LEFT JOIN inflows AS I
                        ON T.blockid10=I.w_geocode
                    GROUP BY block_id, population, inflows
                ),
                daytime_outflows AS (

                    SELECT 
                            blockid10 as block_id,
                            pop10 AS population,
                            (pop10 + (pop10*0.054)) AS population_adjusted,
                            O.n_outflows AS outflows,
                            sum((pop10 + (pop10*0.054)) - (
                                CASE 
                                    WHEN O.n_outflows IS NULL
                                    THEN 0
                                    ELSE O.n_outflows
                                END
                                )) AS population_minus_outflows
                        FROM tracts as T
                        LEFT JOIN outflows AS O
                            ON T.blockid10=O.h_geocode
                        GROUP BY block_id, population, outflows
                ) 
                SELECT
                    I.block_id AS block_id,
                    I.population AS population,
                    I.population_adjusted AS population_adjusted,
                    I.inflows AS inflows,
                    O.outflows AS outflows,
                    I.population_plus_inflows AS population_plus_inflows,
                    O.population_minus_outflows AS population_minus_outflows,
                    sum(I.population_adjusted + (
                        CASE
                            WHEN I.inflows IS NULL
                            THEN 0
                            ELSE I.inflows
                        END
                        ) - (
                        CASE
                            WHEN O.outflows IS NULL
                            THEN 0
                            ELSE O.outflows
                        END
                        )) AS daytime_population
                FROM daytime_inflows AS I
                JOIN daytime_outflows AS O
                    ON I.block_id=O.block_id
                GROUP BY I.block_id, I.population, I.population_adjusted, 
                         I.inflows, O.outflows, I.population_plus_inflows, 
                         O.population_minus_outflows
            );
        '''
        con.execute(sql)
    
    def get_dataframe(self):
        '''
        Method that gets complete model dataframe.
        
        '''
        sql = '''
        SELECT 
            *
        FROM daytime_population
        '''
        self.df = pd.read_sql(sql, con=con)
        
        return self.df
        
    def aggregate(self, level='county'):
        '''
        Method that aggregate model results into
        given administrative units.
        
        Prameters
        ---------
        * level: 'county', 'place', or 'bay'.
        
        '''
        if level == 'place':
            sql = '''
            WITH places AS (
                SELECT
                    tabblk2010 as block_id,
                    stplc as place_code,
                    stplcname as place_name
                FROM xwalk
            )
                SELECT

                    distinct(places.place_code) as place_code,
                    places.place_name as place_name,

                    sum(population_adjusted) as population_adjusted,
                    sum(inflows) as inflows,
                    sum(outflows) as outflows,
                    sum(population_plus_inflows) as population_plus_inflows,
                    sum(population_minus_outflows) as population_minus_outflows,
                    sum(daytime_population) as daytime_population


                FROM daytime_population
                JOIN places
                    ON daytime_population.block_id::numeric=places.block_id::numeric
                GROUP BY place_code, place_name;
            '''
            self.df = pd.read_sql(sql, con=con)
            
        if level == 'county':
            sql = '''
            WITH results AS (
                SELECT
                    distinct(substring(block_id, 1, 5)) as city,
                    sum(population_adjusted) as population_adjusted,
                    sum(inflows) as inflows,
                    sum(outflows) as outflows,
                    sum(population_plus_inflows) as population_plus_inflows,
                    sum(population_minus_outflows) as population_minus_outflows,
                    sum(daytime_population) as daytime_population
                FROM daytime_population
                WHERE block_id IS NOT NULL
                GROUP BY city
                ),
            cities AS (
                SELECT
                    distinct(cty) as city_code,
                    ctyname as city_name
                FROM xwalk
            )
                SELECT
                    city,
                    population_adjusted,
                    inflows,
                    outflows,
                    population_plus_inflows,
                    population_minus_outflows,
                    daytime_population,
                    cities.city_name as city_name
                FROM results
                JOIN cities
                    ON results.city::numeric=cities.city_code
            '''
            self.df = pd.read_sql(sql, con=con)
        
        if level == 'bay':
            sql = '''
            WITH results AS (
                SELECT
                    distinct(substring(block_id, 1, 5)) as city,
                    sum(population_adjusted) as population_adjusted,
                    sum(inflows) as inflows,
                    sum(outflows) as outflows,
                    sum(population_plus_inflows) as population_plus_inflows,
                    sum(population_minus_outflows) as population_minus_outflows,
                    sum(daytime_population) as daytime_population
                FROM daytime_population
                WHERE block_id IS NOT NULL
                GROUP BY city
                ),
            cities AS (
                SELECT
                    distinct(cty) as city_code,
                    ctyname as city_name
                FROM xwalk
            )
                SELECT
                    city,
                    population_adjusted,
                    inflows,
                    outflows,
                    population_plus_inflows,
                    population_minus_outflows,
                    daytime_population,
                    cities.city_name as city_name
                FROM results
                JOIN cities
                    ON results.city::numeric=cities.city_code
                WHERE city::numeric IN ('{}')
            '''.format("','".join([str(i) for i in self.location_set]))
            
            self.df = pd.read_sql(sql, con=con)
            
        return self.df

In [171]:
m = DaytimePopulation(init=False)

In [94]:
d = m.get_dataframe()

In [144]:
#
#  Numbers look quite odd in
#  this table. It is worth 
#  reviewing how the inflows and
#  outflows are calculated.
#
d.sort_values('population_minus_outflows', ascending=False).head()

,block_id,population,population_adjusted,inflows,outflows,population_plus_inflows,population_minus_outflows,daytime_population
413721,060659810001001,7634,8046.236,2196.0,939.0,10242.236,7107.236,9303.236
492855,060730083051015,7910,8337.140,NaN,1339.0,8337.140,6998.140,6998.140
433650,060679883001000,6702,7063.908,1118.0,697.0,8181.908,6366.908,7484.908
189100,060372653011004,6062,6389.348,NaN,111.0,6389.348,6278.348,6278.348
153763,060319818001000,6423,6769.842,1420.0,575.0,8189.842,6194.842,7614.842

In [187]:
d.to_csv('block_data.csv', index=False)

### Aggregates
Let's compute aggregates at a place, county, and Bay Area level.

In [172]:
place = m.aggregate('place')

In [173]:
place.head()

,place_code,place_name,population_adjusted,inflows,outflows,population_plus_inflows,population_minus_outflows,daytime_population
0,600135.0,"Acalanes Ridge CDP, CA",1198.398,63.0,465.0,1261.398,733.398,796.398
1,600156.0,"Acampo CDP, CA",359.414,83.0,196.0,442.414,163.414,246.414
2,600212.0,"Acton CDP, CA",8006.184,1515.0,4219.0,9521.184,3787.184,5302.184
3,600296.0,"Adelanto city, CA",33480.310,4496.0,8697.0,37976.310,24783.310,29279.310
4,600310.0,"Adin CDP, CA",286.688,49.0,72.0,335.688,214.688,263.688

In [180]:
#
#  Let's investigate the population change
#  in the city of San Francisco.
#
san_francisco = place[place['place_code'] == 667000]
san_francisco.head()

,place_code,place_name,population_adjusted,inflows,outflows,population_plus_inflows,population_minus_outflows,daytime_population
1193,667000.0,"San Francisco city, CA",848717.69,668270.0,424181.0,1516987.69,424536.69,1092806.69

In [190]:
print(san_francisco.daytime_population - san_francisco.population_adjusted)
print((san_francisco.daytime_population.sum() / san_francisco.population_adjusted.sum())-1)

1193    244089.0
dtype: float64
0.287597398848

In [111]:
county = m.aggregate('county')

In [192]:
san_francisco_county = county[county['city'] == '06075']

In [193]:
san_francisco_county.head()

,city,population_adjusted,inflows,outflows,population_plus_inflows,population_minus_outflows,daytime_population,city_name
37,06075,848717.69,668270.0,424181.0,1516987.69,424536.69,1092806.69,"San Francisco County, CA"

In [195]:
print(san_francisco_county.daytime_population.sum() - san_francisco_county.population_adjusted.sum())

244089.0

In [186]:
county.to_csv('county_data.csv', index=False)

In [113]:
bay = m.aggregate('bay')

In [114]:
bay.sort_values('daytime_population', ascending=False).head()

,city,population_adjusted,inflows,outflows,population_plus_inflows,population_minus_outflows,daytime_population,city_name
6,06085,1877850.668,976378.0,842342.0,2854228.668,1035508.668,2011886.668,"Santa Clara County, CA"
0,06001,1591825.634,716374.0,718110.0,2308199.634,873715.634,1590089.634,"Alameda County, CA"
4,06075,848717.690,668270.0,424181.0,1516987.690,424536.690,1092806.690,"San Francisco County, CA"
1,06013,1105672.350,348016.0,462247.0,1453688.350,643425.350,991441.350,"Contra Costa County, CA"
5,06081,757247.354,367556.0,355269.0,1124803.354,401978.354,769534.354,"San Mateo County, CA"

In [168]:
#
#  Let's calculate how much populations vary.
#

print((bay.population_plus_inflows.sum() / bay.population_adjusted.sum())-1)

0.473099812863

In [185]:
print(bay.population_adjusted.sum() - bay.inflows.sum())
print(bay.inflows.sum())
print((bay.daytime_population.sum() / bay.population_adjusted.sum())-1)
print((bay.daytime_population.sum() - bay.population_adjusted.sum()))

3971182.906
3565696.0
0.0279289348582
210497.0

In [162]:
print(bay.population_plus_inflows.sum() - bay.population_adjusted.sum())
# print(1-(bay.outflows.sum() / bay.population_adjusted.sum()))

3565696.0

In [159]:
print(bay.inflows.sum())
print(bay.outflows.sum())

3565696.0
3355199.0

In [188]:
bay.population_adjusted.sum()

7536878.9059999995

In [189]:
bay.daytime_population.sum()

7747375.9059999995